<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>auto</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description>Login Portion of the servlet</description>
        <display-name>galleryServlet</display-name>
        <servlet-name>galleryServlet</servlet-name>
        <servlet-class>com.gallery.galleryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>galleryServlet</servlet-name>
        <url-pattern>/galleryServlet</url-pattern>
    </servlet-mapping>
</web-app>